* {
    box-sizing: border-box;
}

:root {
    --primary-color-dark-blue: #000958;
    --primary-color-dark-gray: #5e6085;
    --primary-color-light-gray: #656689;
    --primary-color-orange: #ff5b2e;
    --bg-color-peach: #fff6ed;
    --bg-color-floral-white: #fffaf5;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: var(--bg-color-floral-white);
}

/* ======================== COMMON ======================== */

a,
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: transparent;
}

.container {
    width: 1170px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.break-all {
    overflow-wrap: break-word;
    word-break: break-word;
}

.section-heading {
    margin-top: 15px;
    color: var(--primary-color-dark-blue);
    font-family: "Sora", sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 119.231%;
}

.section-subheading {
    color: var(--primary-color-dark-gray);
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 100%;
}

.section-desc {
    margin-top: 24px;
    color: var(--primary-color-light-gray);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%;
}

.body-text {
    color: var(--primary-color-light-gray);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 171.429%;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 117px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 999px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 100%;
    border: 1px solid var(--primary-color-orange);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}
/* ======================== HEADER ======================== */
.header {
    margin-top: 18px;
    padding: 8px 0;
    background: var(--bg-color-floral-white);
    position: sticky;
    top: 0;
    z-index: 999;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.sign-in-link {
    padding: 8px 18px;
    color: var(--primary-color-dark-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 100%;
}

.navbar__item:hover .navbar__link,
.sign-in-link:hover {
    color: var(--primary-color-dark-blue);
    text-shadow: 1px 0 0 currentColor;
}

.header__auth {
    display: flex;
    align-items: center;
}

.sign-up-btn {
    border-color: #4d5187;
    font-size: 1.4rem;
    font-weight: 600;
}

.sign-up-btn:hover {
    background: #4d5187;
    color: #fff;
}
/* ======================== HERO ======================== */
.hero {
    margin-top: 92px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-right {
    top: 17px;
    right: -42px;
}

.hero__decor-left {
    bottom: 10px;
    left: -58px;
}

.hero__img-wrap-small {
    margin: 0 0 -58px -24px;
    align-self: flex-end;
    width: 186px;
    height: 244px;
    background: #faa7ad;
    border: 2px solid #fad8da;
}

.hero__card {
    padding: 19px;
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__card-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero__card-thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
    object-fit: cover;
}

.hero__card-thumb-bot {
    background: #6597c2;
}

.hero__card-heading {
    color: #181e52;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 100%;
}

.hero__card-skeleton {
    margin-top: 6px;
    width: 118px;
    height: 4px;
    border-radius: 999px;
    background: #ebebf2;
}

.hero__card-skeleton:last-child {
    width: 39px;
}

.hero__card-divider {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    border-radius: 999px;
    background: #f2f2f2;
}

.hero__heading {
    color: var(--primary-color-dark-blue);
    font-family: Sora, sans-serif;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 115.152%;
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
}

.hero__cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.hero__cta-btn {
    width: 189px;
    height: 60px;
    background: var(--primary-color-orange);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #fff;
}

.hero__cta-btn--icon {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

.hero__cta-link {
    color: var(--primary-color-dark-blue);
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: underline;
}
/* ======================== ABOUT ======================== */
.about {
    margin-top: 70px;
    padding: 60px 0 185px;
}

.about__inner {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    row-gap: 146px;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
}

.about__list-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about__list-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-color: #ff5d31;
    border-radius: 4px;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__list-item::after {
    position: absolute;
    content: url(../icon/check.svg);
    left: 3px;
    top: 3px;
}

.about__media {
    position: relative;
    padding-left: 92px;
}

.about__media:nth-of-type(2) {
    padding: 0;
}

.about__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 494px;
}

.about__img-wrap::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 494px;
    height: 336px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
    z-index: -1;
}

.about__img {
    width: 450px;
    height: 559px;
}

.about__img-decor {
    position: absolute;
    right: -51px;
    bottom: 307px;
    z-index: -1;
}

.about__card {
    position: absolute;
    left: 0;
    bottom: 238px;
    padding: 31px 26px 29px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    text-align: center;
    z-index: 9;
}

.about__card-num {
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-text {
    margin-top: 14px;
    display: block;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
}

.about__card-decor {
    position: absolute;
    left: 85px;
    top: -40px;
}

.about__img-wrap-bot {
    position: relative;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-bot {
    width: 100%;
}

.about__img-decor-bot {
    position: absolute;
}

.about__img-decor-bot:nth-child(1) {
    top: 12.5px;
    right: 63px;
}

.about__img-decor-bot:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__img-decor-bot:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__img-decor-bot:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__img-decor-bot:nth-child(5) {
    top: 336px;
    right: 19px;
}

.about__img-decor-bot:nth-child(6) {
    top: 435px;
    left: 377px;
}

.about__img-decor-bot:nth-child(7) {
    top: 442.7px;
    left: 386.4px;
}

.about__img-decor-bot:nth-child(8) {
    top: 447px;
    left: 392.4px;
}

.about__heading-bot,
.about__desc-bot {
    width: 515px;
}

.about__desc-bot {
    margin-bottom: 52px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 56px;
}

.tab__list::after,
.tab__item--active::after,
.tab__more::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    border-radius: 1px;
    opacity: 0.07;
    background: #ff5b2e;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    gap: 10px;
    cursor: pointer;
}

.tab__item--active::after {
    opacity: 1;
    width: 95px;
}

.tab__item-icon {
    width: 20px;
    height: 20px;
}

.tab__item-label {
    color: #48496a;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__content {
    display: none;
    padding: 36px 0;
}

.tab__content--active {
    display: block;
}

.tab__desc {
    width: 391px;
}

.tab__more {
    position: relative;
    display: inline-block;
    margin-top: 27px;
    padding: 5px 0;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.tab__more::after {
    width: 86px;
    height: 1.5px;
    background: #ff5d31;
    opacity: 1;
}
/* ======================== SERVICES ======================== */
.services {
    padding: 68px 0 100px;
    background: var(--bg-color-peach);
}

.services__row-top {
    text-align: center;
}

.services__body {
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 64px;
}

.services__card {
    width: 294px;
    padding: 30px 22px 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.services__card + .services__card {
    margin-top: 24px;
}

.services__card-heading {
    position: relative;
    padding-left: 14px;
    color: var(--primary-color-dark-blue);
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.services__card-heading::before {
    position: absolute;
    content: "";
    left: 0;
    width: 2px;
    height: 22px;
    border-radius: 1px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.services__card-desc {
    margin: 18px 0 24px;
    width: 244px;
}

.services__card-more {
    display: inline-flex;
    color: #34396a;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.services__card-more::after {
    content: url(../icon/arrow-up-right.svg);
    margin-left: 6px;
}

.services__img-wrap {
    margin-top: 18px;
    position: relative;
}

.services__img-wrap::after {
    position: absolute;
    content: "";
    left: 18px;
    right: 18px;
    bottom: 0;
    width: 410px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__img {
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
}

.services__cta-wrap {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.services__cta {
    width: 214px;
    height: 56px;
    border-radius: 31px;
    color: var(--primary-color-orange);
}

.services__cta:hover {
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
/* ======================== STAFF ======================== */
.staff {
    padding: 130px 0;
}

.staff__inner {
    text-align: center;
}

.staff___list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff__img-wrap::before {
    position: absolute;
    content: "";
    width: calc(100% + 40px);
    height: 100%;
    left: -20px;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff__img-wrap::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 93.5%;
    border-radius: inherit;
}

.staff__item:nth-child(1) .staff__img-wrap::before {
    background-image: url(../img/staff-decor-1.svg);
}

.staff__item:nth-child(1) .staff__img-wrap::after {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff__item:nth-child(2) .staff__img-wrap::before {
    background-image: url(../img/staff-decor-2.svg);
}

.staff__item:nth-child(2) .staff__img-wrap::after {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff__item:nth-child(3) .staff__img-wrap::before {
    background-image: url(../img/staff-decor-3.svg);
}

.staff__item:nth-child(3) .staff__img-wrap::after {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff__item:nth-child(4) .staff__img-wrap::before {
    background-image: url(../img/staff-decor-4.svg);
}

.staff__item:nth-child(4) .staff__img-wrap::after {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff__item:nth-child(even) .staff__img-wrap::before {
    bottom: initial;
    top: 19px;
    background-position: top;
}

.staff__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: inherit;
}

.staff__info {
    margin-top: 29px;
    text-align: center;
    line-height: 1;
}

.staff__name {
    margin-top: 14px;
    color: var(--primary-color-dark-blue);
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
}

.staff__btn {
    margin-top: 48px;
    min-width: 193px;
    height: 56px;
    color: var(--primary-color-orange);
}

.staff__btn:hover {
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
/* ======================== PRICING ======================== */
.pricing {
    padding: 86px 0;
    background: var(--bg-color-peach);
}

.pricing__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__desc {
    text-align: center;
    width: 709px;
}

.pricing__switch {
    position: relative;
    margin-top: 38px;
}

.pricing__switch-input {
    display: none;
}

.pricing__switch-label {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    width: 276px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 31px;
    border: 1px solid rgb(255, 91, 46, 0.6);
    user-select: none;
}

.pricing__switch-label::after {
    position: absolute;
    left: auto;
    right: 0;
    content: "";
    min-width: 131px;
    height: 100%;
    background: var(--primary-color-orange);
    border-radius: inherit;
}

.pricing__switch-input:checked + .pricing__switch-label::after {
    min-width: 145px;
    left: 0;
    right: initial;
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-child(1),
.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-child(2) {
    color: var(--primary-color-orange);
}

.pricing__sale-off {
    position: absolute;
    content: "";
    top: -10px;
    right: -110px;
}

.pricing__list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
}

.pricing__item {
    width: 302px;
    padding: 30px 28px 43px;
    border-radius: 20px;
    background: #fff;
}

.pricing__item:hover {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing__item-heading {
    color: var(--primary-color-orange);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.pricing__item-subheading {
    display: block;
    margin-top: 8px;
    color: #3f4065;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.pricing__item-value {
    display: block;
    margin-top: 24px;
    color: var(--primary-color-dark-blue);
    font-family: Sora;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 103.03%;
}

.pricing__item-cta {
    margin-top: 22px;
    width: 100%;
    height: 44px;
    color: var(--primary-color-orange);
    border: 1px solid rgba(255, 91, 46, 0.6);
}

.pricing__item-cta--active {
    background: var(--primary-color-orange);
    border-color: var(--primary-color-orange);
    color: #fff;
}

.pricing__features-list {
    margin-top: 24px;
}

.pricing__features-item {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.pricing__item:not(:last-child) .pricing__features-item:nth-child(5):before,
.pricing__item:not(:last-child) .pricing__features-item:nth-child(6):before,
.pricing__item:not(:last-child) .pricing__features-item:nth-child(7):before {
    content: url(../icon/feature-check-fade.svg);
}

.pricing__features-item::before {
    content: url(../icon/feature-check.svg);
}
/* ======================== REVIEWS ======================== */
.reviews {
    margin: 53px 0;
}

.reviews__inner {
    display: flex;
    align-items: center;
}

.reviews__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid #ffd1c4;
    color: var(--primary-color-orange);
    background: transparent;
    cursor: pointer;
}

.reviews__control:hover {
    background-color: var(--primary-color-orange);
    border-color: var(--primary-color-orange);
    color: #fff;
}

.reviews__control--prev {
    margin-right: 28px;
}

.reviews__control--next {
    margin-left: auto;
}

.reviews__content {
    overflow: hidden;
}

.reviews__list {
    display: flex;
    align-items: center;
}

.reviews-item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
}

.reviews-item__media {
    position: relative;
    width: 274px;
    border-radius: 137px;
}

.reviews-item__media::after {
    position: absolute;
    content: "";
    inset: auto 0 0 0;
    width: 100%;
    height: 82%;
    flex-shrink: 0;
    background: #ffda54;
    border-radius: inherit;
}

.reviews-item__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: inherit;
}

.reviews-item__content {
    margin-left: 115px;
    width: 553px;
}

.reviews-item__quote {
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 155.556%;
}

.reviews-item__author {
    display: flex;
    align-items: center;
    margin-top: 34px;
    color: #282828;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.reviews-item__author::before {
    margin-right: 8px;
    content: "";
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background: #000;
}

.reviews__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.reviews__dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid var(--primary-color-orange);
    background: transparent;
}

.reviews__dot--active {
    width: 24px;
    background: var(--primary-color-orange);
}

.reviews__dot:not(.reviews__dot--active):hover {
    background: var(--primary-color-orange);
    cursor: pointer;
}
